/* add-ones page  */

.add-ones-hero {
    background: url('../images/Hero_BgImage.jpg') !important;
    background-repeat: no-repeat;
    background-size: cover !important;
}


.add-ones-hero>div {
    width: 80% !important;
    margin: 3% auto;
    gap: 10%;
}

.add-ones-hero>div>div {
    width: 60% !important;
}

.add-ones-hero>div>div:nth-child(2) {
    display: flex;
    justify-content: center;
    margin: auto;
}

.add-ones-hero>div>div>h1 {
    color: white;
    font-family: inherit;
}

.add-ones-hero>div>div>p {
    color: #F7DBFD;
}

.add-ones-hero>div>div>p>a {
    text-decoration: underline !important;
    color: white !important;
}


.add-ones-hero>div>div>div>div>div:nth-child(2)>a {
    border-color: #F4DFF9 !important;
}

.add-ones-hero>div>div:first-child>div>div>div:nth-child(2)>a>span>span {
    color: white !important;
}

.announcement>div>div>div {
    width: 100%;
    text-align: center;
}

.announcement>div {
    padding: 5% 0 3% 0 !important;
}

.announcement>div>div>div>h3,
.viewAddOn h3 {
    font-size: 35px !important;
}

.creatorToolBox {
    padding: 0 !important;
}

.developerTool {
   padding: 0% 0 8% 0 !important;
}

.creatorToolBox>div>p:first-child,
.developerTool>div>p:first-child {
    height: 100px !important;
    padding: 0 0 8% 0 !important;
}

.wrapperforCreatorTool>div {
    width: 80% !important;
    margin: auto !important;
    overflow: hidden;
}

.primaryBtn {
    background-color: #f8f8f8 !important;
}

.primaryBtn>div>div>div>div:nth-child(2) {
    display: flex !important;
    justify-content: center !important;
}

.primaryBtn>div>div,
.primaryBtn>div>div>div {
    margin: auto !important;
    width: 100% !important;
    margin-bottom: 5% !important;
}

.exploreCapabilities>div {
    padding: 5% 0 3% 0;
}

.resourceHeader>div {
    padding: 4% 0 !important;
}

.explore>div {
    width: 70% !important;
    margin: auto !important;
    padding: 1% 0 !important;
}

.explore a {
    border-color: #626262 !important;
}

.explore a>span {
    color: #525252 !important;
}

.explore p {
    color: #424242 !important;
}

.developerTool a {
    text-decoration: underline !important;
    color: black !important;
}

.viewAddOn>div {
    padding: 3% 0 !important;
}

.viewAddOn>div>div>div {
    margin: auto !important;
    text-align: center !important;
}

.viewAddOn>div>div>div>div:nth-child(3) {
    display: flex !important;
    justify-content: center !important;
}

.viewAddOn p.teaserBlockCustomHeading{
    color: white !important;
    font-size: 22pt;
    font-weight: bold;
 }

.viewAddOn p {
    color: #E2CAF1 !important;
    font-size: 16pt;
}

.viewAddOn>div>div {
    margin: auto !important;
}


.viewAddOn>div>div>div>div:nth-child(3)>div>div:nth-child(2)>a>span {
    color: white !important;
}

.viewAddOn>div>div>div>div:nth-child(3)>div>div:nth-child(2)>a>span>span {
    color: white !important;
}

.mobileContent {
    display: none;
}

.homeheroAssertImage {
    background-image: url('../images/Hero-Image.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 600px;
    height: 400px;
    background-position: bottom center !important;
}

.explore>div>div>div {
    padding: 0px 15px !important;
    width: 42% !important;
}

.explore>div>div {
    width: 85% !important;
    justify-content: center !important;
    margin: auto !important;
}

.learnMoreWrapper>div {
    width: 100% !important;
}

.mini-card {
    padding: 0 0 4% 0 !important;
}

.mini-card h3 {
    font-size: x-large !important;
    font-weight: 700 !important;
}

.mini-card>div {
    padding: 10px !important;
    gap: 5% !important;
    width: 60% !important;
    margin: auto !important;
    max-width: 100% !important;
}

.mini-card>div>div {
    display: flex !important;
    justify-content: center !important;
}

.mini-card>div>div>div {
    width: 100% !important;
    margin: 0 !important;
    box-shadow: 0 9px 15px 5px #e6e6e6;
}

.mini-card>div>div>div>div:first-child {
    width: 25%;
}

.mini-card>div>div>div>div:nth-child(2) {
    width: 200px !important;
    padding: 0px 0 0 4% !important;
    border: none !important;
}

@media screen and (max-width:2000px) {
    .wrapperforCreatorTool>div {
        width: 60% !important;
        margin: auto !important;
        overflow: hidden;
    }

    .explore>div>div {
        width: 100% !important;
    }
}

@media screen and (min-width:320px) and (max-width:1024px) {

    .wrapperforCreatorTool>div {
        margin: auto !important;
    }

    .explore>div {
        padding: 5% 0 !important;
    }

    .add-ones-hero>div>div,
    .add-ones-hero>div {
        width: 100% !important;
    }

    .add-ones-hero>div>div:first-child {
        margin: 0 5% !important;
    }

    .wrapperforCreatorTool>div {
        width: 80% !important;
    }

    .add-ones-hero>div {
        margin: 10% auto !important;
    }

    .mini-card>div>div>div>div:first-child {
        width: 32% !important;
    }

    .explore>div>div>div {
        width: 100% !important;
    }

}

@media screen and (min-width:768px) and (max-width:1024px) {

    .mini-card h3 {
        font-size: large !important;
    }

    .announcement>div {
        padding: 6% 0 0 0 !important;
    }

    .resourceHeader>div>div>div {
        margin: 5% 0 7% 0 !important;
    }

    .creatorToolBox {
        padding: 8% 0 !important;
    }

    .viewAddOn>div>div>div,
    .add-ones-hero>div>div {
        width: 100% !important;
    }

    .developerTool {
        padding: 10% 2% !important;
    }

    .homeheroAssertImage {
        background-image: url('../images/Hero-Image.png');
        background-repeat: no-repeat;
        background-size: contain;
        height: 400px !important;
        width: 650px !important;
        background-position: bottom center !important;
    }

    .explore>div {
        width: 90% !important;
        margin: auto !important;
    }

    .mini-card {
        padding: 0 0 5% 0 !important;
    }

    .mini-card>div {
        max-width: 97% !important;
        grid-template-columns: repeat(3, 1fr) !important;
        margin: auto !important;
    }

    .mini-card>div>div>div,
    .mini-card>div {
        width: 100% !important;
    }

    .mini-card>div>div>div>div:nth-child(2) {
        width: 100px !important;
    }
}

@media screen and (min-width:320px) and (max-width:767px) {

    .homeheroAssertImage {
        background-image: url('../images/Hero-Image.png');
        background-repeat: no-repeat;
        background-size: contain;
        height: 200px !important;
        width: 310px !important;
        background-position: bottom center !important;
    }

    .add-ones-hero>div>div>div>div {
        flex-direction: column !important;
    }

    .explore>div {
        width: 100% !important;
    }

    .add-ones-hero {
        margin-top: 10% !important;
    }

    .announcement>div,
    .developerTool {
        padding: 0 !important;
    }

    .wrapperforCreatorTool>div {
        width: 80% !important;
    }

    .creatorToolBox>div,
    .announcement>div>div>div,
    .developerTool>div {
        padding: 5% !important;
    }

    .viewAddOn>div>div>div>div:nth-child(4)>div {
        justify-content: center !important;
    }

    .resourceContent {
        display: none !important;
    }

    .mobileContent {
        display: block !important;
    }

    .mini-card {
        padding: 0 0 15% 0 !important;
    }

}

@media screen and (min-width:1024px) and (max-width:1500px) {

    .mini-card h3 {
        font-size: large !important;
    }

    .homeheroAssertImage {
        width: 600px !important;
        height: 370px !important;
    }

    .wrapperforCreatorTool>div {
        width: 75% !important;
        margin: auto !important;
        overflow: hidden;
    }

    .explore>div>div {
        width: 100% !important;
    }

    .explore>div>div>div {
        width: 50% !important;
    }

    .mini-card>div>div>div>div:first-child {
        width: 32% !important;
    }
}